
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

#principal {
    background-color: grey;
    display: block;
    box-sizing: 100%;
    height: 100vh;
    width: 100vw;
}

.nome_pagina {
    font-size: 30px;
    font-weight: bolder;
    display: inline;
    background-color: aquamarine;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#lista_menu {
    display:inline-block;
    position: relative;
    left: 600px;
    padding-top: 50px;
}

.menu {
    list-style: none;
    display: inline;
    margin: 20px;
    background-color: lightcoral;
    font-size: 18px;
    
    
}